$primary-color: #fff;
$primary-heading: #2a4e80;
$mobile-heading: #ffeb3b;

$body-background-color: $primary-color;
$navigation-bg: #4285f5;

// mobile width
$mobile-sm-width: 'screen and (max-width: 480px)';