@import './../../assets/sass/variables';

.header-banner {
    background-color: $primary-color;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;

    h1 {
        color: $primary-heading;
    }
    @media #{$mobile-sm-width} {
        display: none;
    }
}

nav {
    &.fixed-header {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    background: $navigation-bg;
    height: 60px;
    postion: fixed;
    width: 100%;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: row;
        height: 100%;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;

        li {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;
            padding-right: 50px;
            width: 100%;

            &.mobile-heading {
                h2 {
                    padding: 0;
                    margin: 0;
                    color: $mobile-heading;
                }

                display: none;
                @media #{$mobile-sm-width} {
                    display: flex;
                }
            }

            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}